<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}House Journal{% endblock %}</title>
</head>

<body>
    <header>
        {% block navbar %}
        <nav>
            <a href="{{ url_for('routes.home') }}">Home</a>
            {% if session['user_id'] %}
            <a href="{{ url_for('routes.user', id=session['user_id']) }}">Userpage</a>
            <a href="{{ url_for('routes.logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('routes.login') }}">Login</a>
            <a href="{{ url_for('routes.signup') }}">Sign Up</a>
            {% endif %}
        </nav>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>